{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'admin.css'%}">
	<link rel="next" href="s'inscrire.html">
    <title>Document</title>
</head>
<body>
    <div class="Wrapper " >
        <div class="form-box login" id="login">
            <form action="#">
                <div class="div">
                   
                  </div>
                  <h2>Connexion</h2>
                <div class="input-box">
                    <input type="email" required>
                    <label for="">Mail</label>
                </div>
                <div class=" input-box">
                 <input type="password" required>
                 <label for=""> <label for="">Password</label>  </label>
                </div>
				 <div class=" input-box">
                 <input type="password" required>
                 <label for=""> <label for="">Code</label>  </label>
                </div>
                <div class="remender-forgot">
                <label>
                    <input type="checkbox">
                    Se souvenire </label>
                    <a href="#">Mot de passe oublié?</a>
                </div>
                <button type="submit" class="btn">Se Connecter</button>
                <div class="login-register">
                  <p>Je n'ai pas de compte ? <a href="s'inscrire.html" class="register-link">S'inscrire</a>
                  </p>
                </div>
            </form>
        </div>
	</div>
</body>